.event-view-1{
    width: 100%;
    margin-top: 60px;
}

.event-view-2{
    width: 100%;
    margin-top: 60px;
}

.event-view-2-content{
    width: 100%;
}


.event-view-3{
    width: 100%;
}

.event-view-3 .event .container{
    width: 100% !important;
}