.events-s1{
    width: 100%;
    margin-top: 60px;
}

.event-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media(max-width:992px){
    .event-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:576px){
    .event-list{
        grid-template-columns: repeat(1, 1fr);
    }
}